[Unit]
Description=Start LNLS Epics Archiver Appliances
After=mysql.service apache2.service

[Service]
Type=forking
WorkingDirectory=/opt/lnls-control-archiver_v0.0.1_22-June-2016T10-25-27/
ExecStart=/bin/bash scripts/lnls-archiver-systemd.sh start
ExecStop=/bin/bash scripts/lnls-archiver-systemd.sh stop
ExecReload=/bin/bash scripts/lnls-archiver-systemd.sh restart

[Install]
WantedBy=multi-user.target
