[Unit]
Description=GPS (Global Positioning System) Daemon
After=capemgr.service
Requires=gpsd.socket
Before=ntpdate.service

[Service]
ExecStartPre=echo overlay_GPS > $SLOTS && sleep 2
ExecStart=/usr/sbin/gpsd -n -N /dev/ttyO4

[Install]
Also=gpsd.socket
WantedBy=ntpd.service
