[Unit]
Description=Network Time Service (one-shot ntpdate mode)
Before=ntpd.service
 
[Service]
Type=oneshot
ExecStart=/root/gciotto/GPS_server/ntp-install/sbin/ntpd -q -g -x -c /etc/ntpdate.conf
ExecStart=/sbin/hwclock --systohc
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
