[Unit]
Description=Network Time Service
Requires=gpsd.service
After=network.target

[Service]
Type=forking
PIDFile=/run/ntpd.pid
ExecStart=/usr/local/sbin/ntpd -g -p /run/ntpd.pid

[Install]
WantedBy=multi-user.target
