[Unit]
Description=Network Time Service (one-shot ntpdate mode)
After=gpsd.service
Before=ntpd.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ntpd -q -g -x -c /etc/ntpdate.conf
ExecStart=/sbin/hwclock --systohc
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
