<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.cnpem.gef.golpe.editor.GolpeEditor"
            contributorClass="br.cnpem.gef.golpe.editor.GolpeEditorActionBarContributor"
            default="true"
            extensions="dilma"
            id="br.cnpem.gef.golpe.GolpeEditor"
            name="Golpe Editor">
      </editor>
   </extension>

</plugin>
